<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testCompiledJSONConsumer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0032857</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 20:16:52</string>
				</dict>
			</dict>
			<key>testDecimalDigitsCharacterSetDescription()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00056563</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 20:16:52</string>
				</dict>
			</dict>
			<key>testEmojiCharacterDescription()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00018099</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 20:16:52</string>
				</dict>
			</dict>
			<key>testHandWrittenJSONConsumer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000644</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 20:16:52</string>
				</dict>
			</dict>
			<key>testHexCharacterDescription()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00017156</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 20:16:52</string>
				</dict>
			</dict>
			<key>testInverseCharacterSetDescription()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00015097</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 20:16:52</string>
				</dict>
			</dict>
			<key>testJSONConsumer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0086066</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 20:16:52</string>
				</dict>
			</dict>
			<key>testJSONSerialization()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>7.1524e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 20:16:52</string>
				</dict>
			</dict>
			<key>testWhitespaceCharacterSetDescription()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00013604</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 20:16:52</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
